vendor/
**/*.log
**/*.sqlite
.idea/
bin/
tmp/
node_modules/
.sass-cache/
*-packr.go
public/assets/
debatehub
database.yaml
database.yml
notes.md
migrations/
models/.buffalo.dev.yml
dev.sh
nohup.out
assets/images/articles/
