<h1>Debates2point#Show</h1>

<ul class="list-unstyled list-inline">
  <li><a href="<%= debates2pointsPath() %>" class="btn btn-info">Back to all Debates2points</a></li>
  <li><a href="<%= editDebates2pointPath({ debates2point_id: debates2point.ID })%>" class="btn btn-warning">Edit</a></li>
  <li><a href="<%= debates2pointPath({ debates2point_id: debates2point.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>Debate</strong>: <%= debates2point.Debate %>
</p>
<p>
  <strong>Point</strong>: <%= debates2point.Point %>
</p>
