<h2>Debates - IN BETA: feel free to <a href="/blog/contact">contact</a> us with any ideas or issues.</h2>
<p>
<a href="<%= newDebatePagesPath() %>" class="btn btn-primary">Create New Debate</a>
</p>

<table class="table">
	<thead>
		<th>Debate Topic</th>
	</thead>
	<tbody>
		<%= for (debate) in debates { %>
		<tr>
			<td>
				<p><a href="<%= debatePagePath({ debate_page_id: debate.ID }) %>"><%= debate.Topic %></a></p>
			</td>
		</tr>
		<% } %>
	</tbody>
</table>

<div class="text-center">
	<%= paginator(pagination) %>
</div>
