
<h2>IN BETA: ping therewillbewar in the discord chat, or contact below with suggestions.</h2>
<hr>
<ul class="list-unstyled list-inline">
	<li><a href="<%= debatePagesPath() %>" class="btn btn-info">Back to all Debates</a></li>
</ul>

<div class="row">
	<div class="col-md-9">
		<h2>Debate</h2>
		<%= Debate() %>
<div class="row">
	<div class="col-md-12" align="center">
		<%= partial("amazonMyList.html") %> 
	</div>
</div>
<hr>
		<h2>Open Discussion</h2>
		<%= Forum() %>
	</div> <!-- close middle col -->
	<div class="col-md-3">
		<%= partial("suggestion.html") %>
	</div>
	<div id="test"></div>
</div>

