<h1>Speculations</h1>

<p>
  <a href="<%= speculationsSubmitPath() %>" class="btn btn-primary">Create New Speculation</a>
</p>

<table class="table table-striped">
  <thead>
  <th>Summary</th>
    <th>Description</th>
    <th>Publish</th>
    <th>Reject</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (speculation) in speculations { %>
      <tr>
      <td><%= speculation.Summary %></td>
        <td><%= speculation.Description %></td>
        <td><%= speculation.Publish %></td>
        <td><%= speculation.Reject %></td>
        <td>
          <div class="pull-right">
            <a href="<%= speculationPath({ speculation_id: speculation.ID }) %>" class="btn btn-info">View</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
