<h1>Debate2threads</h1>
<p>
  <a href="<%= newDebate2threadsPath() %>" class="btn btn-primary">Create New Debate2thread</a>
</p>

<table class="table table-striped">
  <thead>
  <th>Debate</th>
    <th>Thread</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (debate2thread) in debate2threads { %>
      <tr>
      <td><%= debate2thread.Debate %></td>
        <td><%= debate2thread.Thread %></td>
        <td>
          <div class="pull-right">
            <a href="<%= debate2threadPath({ debate2thread_id: debate2thread.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editDebate2threadPath({ debate2thread_id: debate2thread.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= debate2threadPath({ debate2thread_id: debate2thread.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
