<h1>Trends Admin</h1>

<table class="table table-striped">
	<thead>
		<th>Summary</th>
		<th>Description</th>
		<th>Reject</th>
		<th>Publish</th>
		<th>&nbsp;</th>
	</thead>
	<tbody>
		<%= for (trend) in trends { %>
		<tr>
			<td><%= trend.Summary%></td>
			<td><%= trend.Description %></td>
			<td><%= trend.Reject %></td>
			<td><%= trend.Publish%></td>
			<td>
				<div class="pull-right">
					<a href="<%= editTrendPath({ trend_id: trend.ID }) %>" class="btn btn-warning">Edit</a>
					<a href="<%= trendPath({ trend_id: trend.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Delete</a>
				</div>
			</td>
		</tr>
		<% } %>
	</tbody>
</table>
