
		<h2><a href="/debate_pages">Debates</a></h2>
		<hr>
		<%= for (point) in points  { %>
		<blockquote>
			<%= point.Point.Topic %>
			<footer>
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span><strong><a class="profile" href="/profiles/profile/<%= point.Profile.ID %>"><%= point.Profile.NickName %></a></strong>
				<cite title="From Debate">
					<p>from debate: <em><a href="/debate_pages/<%= point.Debate.ID %>"><%= point.Debate.Title %></a></em></p>
					<div class="pull-right">
						<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="pull-right twitter-share-button" data-text="<%= point.Point.Topic %>" data-url="https://debatehub.org/debate_pages/<%= point.Debate.ID %>" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
					</div>
				</cite>
			</footer>	
		</blockquote>
		<hr>
		<% } %>
