
<h2>News|Data
	<small>
		<a class="btn btn-success btn-xs" href="/articles/submit">submit article</a>
	</small>
</h2>
<hr>
<%= for (article) in articles { %>
<div class="media">
	<div class="media-left media-middle">
		<a target="_blank" href="<%= article.Url %>">
			<img class="media-object" src="<%= article.Thumbnail %>" alt="" style="width:60px">
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading"><a target="_blank" rel="nofollow" href="<%= article.Url %>"><%= article.Headline %></a></h4>
		<%= article.Description %>
		<small>
			<a class="btn btn-default btn-xs" href="/debate_pages/article?&title=<%= article.Headline %>">debate</a>
		</small>
	</div>
</div>

<% } %>
