
<h3>News</h3>

<div class="media">
	<div class="media-left">
		<a href="#">
			<img class="media-object" src="..." alt="...">
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading">Media heading</h4>
		...
	</div>
</div>
<div class="newstory">
	<a href="http://www.theamericanconservative.com/articles/the-danger-with-trumps-budget/"> The Danger with Trump’s Budget</a>
</div>
<div class="newstory">
	<a href="https://www.sovereignman.com/trends/the-final-show-of-the-greatest-country-on-earth-21824/">The Final Show of the Greatest Country on Earth</a>
</div>
<div class="newstory">
	<a href="https://freedom.press/news/statement-trump-allegedly-telling-comey-prosecute-reporters-publishing-classified-information/">Trump allegedly telling Comey to jail reporters</a>
</div>
<div class="newstory">

	<a href="http://www.debka.com/article/26056/Will-Trump-proclaim-an-Arab-Muslim-NATO-in-Riyadh-">Will Trump proclaim an Arab-Muslim NATO in Riyadh?i</a>
</div>
<div class="newstory">
	<a href="http://www.mei.edu/content/io/worries-tehran-about-american-arab-nato-trump-set-visit-riyadh-first-foreign-trip">Worries in Tehran about “American-Arab NATO” as Trump Will Visit Riyadh on First Foreign Trip</a>
</div>
<div class="newstory">
	<a href="http://www.marketwatch.com/story/turkish-leaders-bodyguards-beat-up-protesters-in-washington-dc-2017-05-17">Turkish leader’s bodyguards beat up protesters in Washington, D.C.</a>
</div>
