
<div class="panel panel-default">
	<div class="panel-body">

		<h3>Reading</h3>
		<hr>
		<div>
			<a target="_blank" href="https://www.amazon.com/gp/product/052138673X/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=052138673X&linkCode=as2&tag=ebatub-20&linkId=9d48a38ddda2e8b1cbd9bcb78b96316e">The Collapse of Complex Societies (New Studies in Archaeology)</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=ebatub-20&l=am2&o=1&a=052138673X" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div>
		<div>
			<a href="http://amzn.to/2vZ1HFe">Fool's Errand: Time to End the War in Afghanistan - Scott Horton</a>
		</div>
	</div>
</div>
