<h3>Speculations
	<small>
		<a class="btn btn-default btn-xs" href="/speculations/submit">submit</a>
	</small>
</h3>
	<div>Trump's <a href="https://www.google.com/search?q=trump%27s+arab+nato">Muslim NATO</a> will lead to blowback.</div>
	<div>We are reaching max info processing, you can tell because of the rise of self improvement books, gadgits and websites.</div>
	<div>Trump to kill the dollar (link to page), Trump will enact policies which cause the dollars demise as a world currency.</div>
