
<h3>Trends
	<small>
		<a class="btn btn-default btn-xs" href="/trends/submit">submit</a>
	</small>
</h3>

<%= for (trend) in trends { %>
<div class="media">
	<div class="media-left media-middle">
		<!-- TODO figure out what the trend page will be i-->
		<a href="">
			<img class="media-object" src="<%= trend.Thumbnail %>" alt="thumbnail" style="width:60px">
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading"><%= trend.Summary %></h4>
		<%= trend.Description %>
	</div>
</div>
<% } %>
