
<h3>Trends
	<small>
		<a class="btn btn-default btn-xs" href="/trends/submit">submit</a>
	</small>
</h3>

<%= for (trend) in trends { %>
<div class="media">
	<div class="media-left media-middle">
		<!-- TODO figure out what the trend page will be i-->
		<a href="">
			<img class="media-object" src="<%= trend.Thumbnail %>" alt="thumbnail" style="width:60px">
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading"><%= trend.Summary %></h4>
		<%= trend.Description %>
	</div>
</div>
<% } %>

<div class="trends">Afghanastan is where empires go to die</div>
<div class="trends">Whistling our way past the graveyard</div>
<div class="trends">US political bifurcation</div>
<div class="trends">Slow Death of Free Speech</div>
<div class="trends">Partisan generated scandals are the new normal</div>
<div class="trends">
	<a href="trends/celebrity-politicians">Celebrity politicians</a>
</div>
<div class="trends">
	<a href="trends/unstable-us">The world will grow tired of a unstable US</a>
</div>
<div class="trends">
	<a href="https://trends.google.com/trends/explore?date=today%2012-m&geo=US&q=%2Fm%2F05gd9,authoritarian">
		Rise of nationalism and authoritarianism</a>
</div>
