
<h3>Trends</h3>

<div class="trends">Afghanastan is where empires go to die</div>
<div class="trends">Whistling our way past the graveyard</div>
<div class="trends">US political bifurcation</div>
<div class="trends">Slow Death of Free Speech</div>
<div class="trends">Partisan generated scandals are the new normal</div>
<div class="trends">
	<a href="trends/celebrity-politicians">Celebrity politicians</a>
</div>
<div class="trends">
	<a href="trends/unstable-us">The world will grow tired of a unstable US</a>
</div>
<div class="trends">
	<a href="https://trends.google.com/trends/explore?date=today%2012-m&geo=US&q=%2Fm%2F05gd9,authoritarian">
		Rise of nationalism and authoritarianism</a>
</div>
<div class="trends">
	<a href="https://www.aei.org/publication/the-coming-white-underclass/">
		The coming white underclass by Charles Murray</a>
</div>
