<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-10">
    <h1>DebateHub</h1>
    <hr>
    <h2>News</h2>

    <h2>Trends</h2>
    <ul>
      <li>
        <a href="https://www.aei.org/publication/the-coming-white-underclass/">The coming white underclass by Charles Murray</a>
      </li>
      <li>
        <a href="http://longbets.org/predictions/">Long Bets</a>
      </li>
    </ul>
    <h2>Reading</h2>
    <ul>
      <li>
        <a href="https://www.amazon.com/dp/B000UZJRIG/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1">Age of Turbulence by Alan Greenspan</a>
      </li>
    </ul>
    <h2>Difference between lib and cons sites</h2>
    <h2>War Pulse</h2>
    <ul>
      <li>
        <a href="http://thebulletin.org/timeline">Doomsday Clock</a>
      </li>
    </ul>
    <h2>Links</h2>
    <ul>
    </ul>
    <form>
      Email:
      <input type="email" name="email">
      <input type="submit">
    </form>
  </div>
</div>