<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-10">
    <h1>DebateHub</h1>
    <hr>
    <h2>Banner demagogues Trump/Sanders</h2>
    <h2>News</h2>

    <h2>Trends</h2>
    <ul>
      <li>
        <a href="https://www.aei.org/publication/the-coming-white-underclass/">The coming white underclass by Charles Murray</a>
      </li>
      <li>
        <a href="http://longbets.org/predictions/">Long Bets</a>
      </li>
    </ul>
    <h2>Reading</h2>
    <ul>
      <li>
        <a href="https://www.amazon.com/dp/B000UZJRIG/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1">Age of Turbulence by Alan Greenspan</a>
      </li>
    </ul>
    <h2>Difference between lib and cons sites</h2>
    <h2>War Pulse</h2>
    <ul>
      <li>
        <a href="http://thebulletin.org/timeline">Doomsday Clock</a>
      </li>
      <li>
        <a href="https://missilethreat.csis.org/country/dprk/">Chart of N. Korea Missle Threats</a>
      </li>
    </ul>
    <h2>Links</h2>
    <ul>
    </ul>
    <h2>Predictions</h2>
    <ul>
      <li>prediction title, small blurb, user name</li>
      <li>Trump to kill the dollar (link to page), Trump will enact policies which cause the dollars demise as a world currency,
        user: therewillbewar</li>
      <li>
        <form action="/addPrediction" method="POST">
          <input value="Title" type="text" name="title">
          <input type="submit" value="Submit">
        </form>
      </li>
    </ul>
    <form action="/email" method="POST">
      <input value="email" type="email" name="emailAddr">
      <input type="submit" value="Subscribe">
    </form>
    <p>We won't send you spam. Unsubscribe at anytime.</p>
    <h2>Debate Topic</h2>
    <p>chat area</p>
  </div>
</div>