<h1>Profiles</h1>

<p>
  <a href="<%= newProfilePath() %>" class="btn btn-primary">Create New Profile</a>
</p>

<table class="table table-striped">
  <thead>
  <th>Firstname</th>
    <th>Lastname</th>
    <th>Userid</th>
    <th>Email</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (profile) in profiles { %>
      <tr>
      <td><%= profile.Firstname %></td>
        <td><%= profile.Lastname %></td>
        <td><%= profile.Userid %></td>
        <td><%= profile.Email %></td>
        <td>
          <div class="pull-right">
            <a href="<%= profilePath({ profile_id: profile.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editProfilePath({ profile_id: profile.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= profilePath({ profile_id: profile.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
