<h1><%= profile.NickName %></h1>

<ul class="list-unstyled list-inline">
  <li><a href="<%= editProfilePath({ profile_id: profile.ID })%>" class="btn btn-warning">Edit</a></li>
</ul>

<p>
  <strong>FirstName</strong>: <%= profile.FirstName %>
</p>
<p>
  <strong>LastName</strong>: <%= profile.LastName %>
</p>
<p>
  <strong>Email</strong>: <%= profile.Email %>
</p>
<p>
  <strong>NickName</strong>: <%= profile.NickName %>
</p>
<p>
  <strong>Location</strong>: <%= profile.Location %>
</p>
<p>
  <strong>AvatarURL</strong>: <%= profile.AvatarURL %>
</p>
<p>
  <strong>Description</strong>: <%= profile.Description %>
</p>
