<h1>Profiles#Show</h1>

<ul class="list-unstyled list-inline">
  <li><a href="/profiles" class="btn btn-info">Back to all Profiles</a></li>
  <li><a href="/profiles/<%= profile.ID %>/edit" class="btn btn-warning">Edit</a></li>
  <li><a href="/profiles/<%= profile.ID %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>FirstName</strong>: <%= profile.FirstName %>
</p>
<p>
  <strong>LastName</strong>: <%= profile.LastName %>
</p>
<p>
  <strong>UserID</strong>: <%= profile.UserID %>
</p>
<p>
  <strong>Email</strong>: <%= profile.Email %>
</p>
<p>
  <strong>NickName</strong>: <%= profile.NickName %>
</p>
<p>
  <strong>Location</strong>: <%= profile.Location %>
</p>
<p>
  <strong>AvatarURL</strong>: <%= profile.AvatarURL %>
</p>
<p>
  <strong>Description</strong>: <%= profile.Description %>
</p>
